

.board {
   border:25px solid White;
   border-collapse:collapse;
   padding:10px;
   border-top:25px grey;
   border-left:25px grey;
   border-right: 25px grey;
  border-bottom: 25px grey;
 }
 /*WAS ABLE TO CAP OFF THE ROW AND COLUMN MARKERS!!!!*/
.board th {
   border:5px solid lightslategrey;
   padding:5px;
 }

.board td {
   border:5px
   padding:5px;
width: 75px;
height: 75px;
text-align: center;
font-size: 2em;
font-weight: bolder;
 }


.Yellow {
background-color:Yellow;
 }

.grey{
background-color: grey;
 }

.br::before{
  content: "\265C";
 document.getElementById("br").style.property=new style;
 new style=position:
  }

.bk::before{
  content: "\265E";
  }

.bb::before{
  content: "\265D";
  }

.bK::before{
  content: "\265A";
  position: relative;
  }

.bQ::before{
  content: "\265B";
  padding;
  }

.bp::before{
  content: "\265F";
  }

.wp::before{
  content: "\2659";
  }

.wr::before{
  content: "\2656";
  }

.wk::before{
  content: "\2658";
  }

.wb::before{
  content: "\2657";
  }

.wQ::before{
  content: "\2655";
  }

.wK::before{
  content: "\2654";
  }

.bp::before{
  content: "\265F";
  }
